# whitelist gitignore
*
!*/

!README.md
!xpaint.1

!config.h
!types.h
!xpaint.c
!res/**
!lib/**

!Makefile
!.clang-format
!.clang-tidy
!flake.nix
!flake.lock
!share/**

!LICENSE
!.gitignore
!.gitattributes
