# whitelist gitignore
/*

!README.md
!xpaint.1

!config.def.h
!xpaint.c
!/res/
!/lib/

!Makefile
!.clangd
!.clang-format
!.clang-tidy
!flake.nix
!flake.lock
!/share/

!LICENSE
!.gitignore
!.gitattributes
